# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Environment variables
.env

# Temporary files and data
.tmp/
arquivos/
bckp/
*.zip

# Streamlit
.streamlit/

# IDEs
.vscode/
.idea/

# Oráculo specifics
teste.py
credentials.json
token.json
